:root {
  --bg-color-content: #14161a;
  --bg-color-header: #16181d;
  --bg-color-card: #202227;

  --text-color: #ffeeb3;
  --text-color-hover: #fbd650;
  --paragraph-color: #a1a1a1;
}

.container-favorites {
  height: 100vh;
  padding-top: 65px;
  background-color: var(--bg-color-content);
  padding-bottom: 20px;
}

.header-favorites {
  background-color: var(--bg-color-header);
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.header-favorites h1 {
  color: var(--text-color);
  font-size: 48px;
}

.header-favorites p {
  color: var(--paragraph-color);
  font-size: 18px;
}

.content-favorites {
  background-color: var(--bg-color-content);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 60px;
}

.card-content {
  background-color: var(--bg-color-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: 388px;
  max-width: 830px;
  width: 100%;
  border-radius: 10px;
}

.card-content h1 {
  color: var(--text-color);
  font-size: 24px;
}

.card-content p {
  color: var(--paragraph-color);
  width: 440px;
  text-align: center;
}

.card-content button {
  margin-top: 20px;
}

.container-favorites-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.header-movies {
  background-color: var(--bg-color-header);
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-title h1 {
  color: var(--text-color);
  font-size: 48px;
}

.container-header-title p {
  color: var(--paragraph-color);
  font-size: 18px;
  margin-top: 20px;
}

.header-movies button {
  color: var(--text-color);
  background-color: var(--bg-color-header);
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.container-movies-favorites {
  background-color: var(--bg-color-content);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh -65px);
  gap: 30px;
  padding: 60px 25px 60px 25px;
}

@media (max-width: 1050px) {
  .header-favorites h1 {
    font-size: 34px;
  }

  .card-content p {
    width: 100%;
  }

  .content-favorites {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .header-title h1 {
    font-size: 36px;
  }
}

@media (max-width: 560px) {
  .header-movies {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }

  .header-movies button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header-favorites {
    padding-top: 20px;
  }
}
