:root {
  --bg-color: #17191e;
  --text-primary-color: #ffeeb3;
  --paragraph-color: #a1a4aa;
}

.movie-info {
  background-color: var(--bg-color);
  width: 100%;
  padding: 120px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-movie-info {
  display: flex;
  flex-direction: column;
  width: 1250px;
}

.button-back {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 15px;
  text-decoration: none;
  color: var(--text-primary-color);
  margin-left: 40px;
  padding: 12px 0px;
  border-radius: 8px;
  font-weight: bold;

  &:hover {
    background-color: #ee4343;
    color: #fff;
  }
}

.content-movie-details {
  padding: 0 35px;
  padding-top: 70px;
  display: flex;
  gap: 60px;
}

.movie-poster-image {
  width: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.movie-info-details h2 {
  font-size: 47px;
  color: var(--text-primary-color);
}

.movie-topics {
  display: flex;
  gap: 20px;
  color: var(--paragraph-color);
  margin-top: 10px;
}

.movie-topics p {
  display: flex;
  gap: 5px;
}

.movie-genres {
  display: flex;
  gap: 10px;
}

.card-genre-details {
  background-color: #2B291F;
  color: #fbd650;
  margin-top: 15px;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 20px;
}

.movie-trailer {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h3 {
  font-size: 24px;
  color: var(--text-primary-color);
}

.trailer {
  border-radius: 8px;
}

.no-trailer {
  width: 600px;
  height: 315px;
  background-color: #2B291F;
  border: 2px dashed #fbd650;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.no-trailer-text {
  color: #fbd650;
  font-size: 16px;
}

.movie-synopsis {
  margin-top: 35px;
}

.text-sinopse {
  color: var(--paragraph-color);
  margin-top: 10px;
}

.movie-cast {
  margin-top: 35px;
  display: flex;
  gap: 200px;
}

.movie-cast h3 {
  font-size: 20px;
}

.movie-director {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.movie-director div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-director p {
  color: var(--paragraph-color);
  font-size: 16px;
}